*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}



body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #acbcca; */
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(230,85,85,1) 50%, rgba(204,145,63,1) 100%);
    /* background: linear-gradient(90deg, rgba(5,8,54,1) 0%, rgba(77,86,196,1) 50%, rgba(4,5,59,1) 100%); */
}

.clock{
    
    height: 350px;
    width: 300px;
    background-color: #c9d5e0;
    border-radius: 30px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    
    box-shadow: 45px 45px 45px -15px rgba(0,0,0,0.15),
    inset rgba(255,255,255, 0.75) 15px 15px 10px,
    -15px -15px  30px rgba(255, 255, 255, 0.564) ;

    display: flex;
    justify-content: center;
    align-items: center;
    
    

}
.numbers{
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: #152b4a;
    box-shadow: 2px 2px  30px #152b4a ;
    display: flex;
    justify-content: center;
    align-items: center;
    
  
}
.numbers::before{
    position: absolute;
    content: '';
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color:red;
    border: 1px solid white;
}

.numbers span{
    position: absolute;
    inset: 10px;
    text-align: center;
    color: #fff;
    font-size: 1em;
    transform: rotate(calc(30deg * var(--i)));
    
    
    
    
    
}

.numbers span b{
    display: inline-block;
    transform: rotate(calc(-30deg *var(--i)));
}

.numbers .circle{
    position: absolute;
    height:190px;
    width: 190px;
    border-radius: 50%;
    border: 1px solid rgb(22, 21, 21);
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
    /* align-items: center; */
    z-index: 10;


}

.circle#min{
    height: 150px;
    width: 150px;
}

.circle#hrs{
    height: 100px;
    width: 100px;
}





.circle#sec i{
    position: absolute;
    top: 50%;
    height: 50px;
    width: 1px;
    background-color: #28e007;
    /* transform-origin: bottom;
    transform: skewY(0.5); */
    

}
.circle#min i{
    position: absolute;
    top: 50%;
    height:35px ;
    width: 2px;
    background-color: #dcf51c;
    transform-origin: bottom;
    transform: skewY(0.5);
 
    

}
.circle#hrs i{
    position: absolute;
    top: 50%;
    height: 25px;
    width: 3px;
    background-color: #ed0f21;
    transform-origin: bottom;
   
   

}



.numbers .circle#sec::before{
    position: absolute;
    content: '';
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background-color:rgb(0, 255, 68);
    border: 1px solid white;
}

.numbers .circle#min::before{
    position: absolute;
    content: '';
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background-color:#dcf51c;
    border: 1px solid white;
}

.numbers .circle::before{

    position: absolute;
    
    /* left: 50%; */
    top:99%;
    content: '';
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background-color:red;
    border: 1px solid white;
}








